@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 10px;
  font-family: 'Press Start 2P', 'Arial';
  --pure-white: #ffffff;
  --primary-color: #b9c6d2;
  --secondary-color: #d0dde9;
  --tertiary-color: #edf0f8;
  --accent-color: #ff3e00;
  --accent-color2: #fec837;
  --bg1: #525162;
  --bg2: #394f57;
  --bg3: #446668;
  --bg4: #749593;
  --heading-color: rgb(255, 255, 255);
  --text-color: #eeeeee;
  --background-without-opacity: rgba(255, 255, 255, 0.7);
  --column-width: 42rem;
  --column-margin-top: 4rem;
  --fz1: 3.052rem;
  --fz2: 2.441rem;
  --fz3: 1.953rem;
  --fz4: 1.563rem;
  --fz5: 1rem;
}
img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

@media (min-width: 320px) and (max-width: 749px) {
  body {
    background-color: var(--primary-color);
    background: url(/static/forest-of-letters/bg-forest.png);
    background-repeat: no-repeat;
    background-size: cover;
    scrollbar-width: thin;
    background-attachment: fixed;
  }
}

@media (min-width: 750px) {
  body {
    /*Need to upload on the next commit*/
    background-color: var(--primary-color);
    background: url(/static/forest-of-letters/bg-forest-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    scrollbar-width: thin;
    background-attachment: fixed;
  }
}

#svelte {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
p {
  font-weight: 400;
  color: var(--text-color);
}

p {
  line-height: 1.5;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: var(--fz1);
  margin-bottom: 0 0 1em 0;
  text-align: center;
}

h2 {
  font-size: var(--fz2);
}
h3 {
  font-size: var(--fz3);
}
pre {
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 3px;
  box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
  padding: 0.5em;
  overflow-x: auto;
  color: var(--text-color);
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

@media (min-width: 720px) {
  h1 {
    font-size: 2.4rem;
  }
}
